{{#if isControl}}
  <button class='profile__field-btn' type='button'>{{ text }}</button>
{{else}}
  <span class='profile__field-caption'>{{ caption }}</span>
  <p class='profile__field-text'>{{ text }}</p>
{{/if}}
