.form {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		margin: 0;
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
		font-style: normal;
		text-align: center;
		color: var(--title-color);
	}

  &__subtitle {
		margin: 12px 0 0;
		font-size: 18px;
		line-height: 24px;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		color: var(--title-color);
	}

	&__fields {
		margin: 20px 0 auto;
		width: 100%;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}

	&__field {
		margin: 8px 0 0;
		width: 100%;
		padding: 0 0 20px;
		position: relative;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;

		&-caption {
			margin: 0;
			font-size: 16px;
			line-height: 20px;
			font-weight: normal;
			font-style: normal;
			color: var(--subtitle-color);
		}
	}

	&__input {
		margin: 0;
		width: 100%;
		padding: 4px 0;
		box-sizing: border-box;
		font-size: 20px;
		line-height: 24px;
		font-weight: normal;
		font-style: normal;
		border: none;
		border-bottom: 1px solid var(--border-color);
		background-color: var(--white-color);
		outline: none;

		&:focus {
			border-bottom: 1px solid var(--main-color);
		}

		&_type_error {
			border-bottom: 1px solid var(--secondary-color);

			&:focus {
				border-bottom: 1px solid var(--secondary-color);
			}
		}

		&-error {
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 12px;
			line-height: 14px;
			font-weight: normal;
			font-style: normal;
			color: var(--secondary-color);
			display: none;

			&_type_show {
				display: block;
			}
		}
	}

  &__field_type_error &__input-error {
    display: block;
  }

  &__field_type_error &__input {
    border-bottom: 1px solid var(--secondary-color);
  }

	&__link {
		margin: 20px 0 0;
		font-size: 16px;
		line-height: 20px;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		color: var(--main-color);
		transition: all .3s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
	}

	&__buttons {
		margin: 24px 0 0;
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__button {
		margin: 0 20px 0 0;
		width: 100%;
		padding: 8px 20px;
    box-sizing: border-box;
		flex-shrink: 1;
		font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		font-style: normal;
		text-decoration: none;
		color: var(--white-color);
		background-color: var(--main-color);
		border: none;
		border-radius: var(--border-radius);
		transition: all .3s ease-in-out;

    &_color_primary {
      color: var(--white-color);
      background-color: var(--main-color);
      border: 2px solid var(--main-color);

      &:hover {
        box-shadow: 0 8px 12px -8px rgb(131 122 234 / 90%);
      }
    }

    &_color_cancel {
      color: var(--subtitle-color);
      background-color: inherit;
      border: 2px solid var(--subtitle-color);

      &:hover {
        box-shadow: 0 8px 12px -8px rgba(149 149 150 / 90%);
      }
    }

		&:hover {
			cursor: pointer;
		}

		&:last-of-type {
			margin: 0;
		}
	}

	&__error {
		width: 100%;
		position: absolute;
		bottom: -20px;
		left: 0;
		font-size: 12px;
		line-height: 14px;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		color: var(--secondary-color);
		display: none;

		&_type_show {
			display: block;
		}
	}

  &__file {
    margin: 4px 0 0;
    width: 100%;
    align-items: center;
    display: flex;

    &-label {
      margin: 0;
      width: 100%;
      background: var(--background-element-color);
      border-radius: var(--border-radius);
      justify-content: space-between;
      padding: 9px 16px;
      box-sizing: border-box;
      transition: all .3s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }

    &-text {
      margin: 0 16px 0 0;
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
      font-style: normal;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      color: var(--subtitle-color);
      display: -webkit-box;
      overflow: hidden;
    }

    &-input {
      display: none;
    }
  }
}
