.chat {
	margin: 0;
	width: 100%;
	height: 100vh;
	display: flex;

	&__menu {
		margin: 0;
		flex-basis: 480px;
		flex-grow: 2;
		background-color: var(--background-secondary-color);
		display: flex;
		flex-direction: column;
	}

	&__header {
		margin: 0;
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	&__info {
		margin: 0 0 20px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-avatar {
			margin: 0 12px 0 0;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background: var(--background-element-color);
			object-fit: cover;
			object-position: center;
		}

		&-title {
			margin: 0;
			font-weight: bold;
			font-style: normal;
			font-size: 28px;
			line-height: 36px;
			color: var(--title-color);
		}
	}

	&__user {
		margin: 0;
		display: flex;
		align-items: center;

    &-name {
      margin: 0 0 0 12px;
      font-weight: bold;
			font-style: normal;
			font-size: 24px;
			line-height: 28px;
			color: var(--title-color);
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			display: -webkit-box;
			overflow: hidden;
    }
	}

	&__nav {
		width: 100%;
		height: calc(100vh - 136px);
		margin: 0 0 20px;
		box-sizing: border-box;
		overflow-y: auto;
	}

	&__list {
		margin: 0;
		width: 100%;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}

	&__main {
		margin: 0 20px;
		width: calc(100% - 40px);
		display: flex;
		flex-direction: column;

		&-header {
			margin: 0;
			width: 100%;
      height: 70px;
			padding: 20px 0 19px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid var(--border-color);
		}

		&-text {
			margin: 0;
			font-weight: bold;
			font-style: normal;
			font-size: 16px;
			line-height: 20px;
			color: var(--title-color);

			&_type_empty {
        font-weight: normal;
				color: var(--subtitle-color);
			}
		}

    &-footer {
      margin: 0;
      width: 100%;
      height: 70px;
      padding: 19px 0 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--border-color);
    }
	}

	&__messages {
		margin: 20px 0 0;
		width: 100%;
		flex-grow: 2;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__img {
		margin: 0;
		width: 60%;
		object-fit: contain;
		object-position: center;
	}
}
