<nav class='profile__nav'>
  <a class='profile__nav-link' href='/'> </a>
</nav>
<div class='profile__container'>
  {{{avatar}}}
  <h2 class='profile__title'>{{ title }}</h2>
  <ul class='profile__fields'>
    {{{fields}}}
  </ul>
</div>
