<div class='popup__container popup__container_width_large'>
  <main class='popup__main'>
    <h2 class='popup__title'>Добавление пользователей</h2>
    {{{popupSearch}}}
    <div class='popup__table'>
      <div class='popup__table-column'>
        <h4 class='popup__table-column-title'>Найденные пользователи:</h4>
        {{{searchedUsersList}}}
      </div>
      <div class='popup__table-column'>
        <h4 class='popup__table-column-title'>Добавляемые пользователи:</h4>
        {{{addedUsersList}}}
      </div>
    </div>
    {{{form}}}
  </main>
</div>
