<div class='popup__container'>
  <main class='popup__main'>
    <h2 class='popup__title'>Просмотр пользователей</h2>
    {{#if isLoadingUsers}}
      <div>Загрузка..</div>
    {{else}}
      <div class='popup__table'>
        <div class='popup__table-column'>
          <h4 class='popup__table-column-title'>Пользователи чата:</h4>
          {{{currentUsersList}}}
        </div>
      </div>
    {{/if}}
    {{{form}}}
  </main>
</div>
