{{#if isValid}}
  <img class='avatar__img' src={{ avatarLink }} alt='Аватар'>
{{else}}
  <div class='avatar-stub'>
    {{#if isEdit}}
      <div class='avatar-stub__icon'></div>
    {{/if}}
  </div>
{{/if}}
